<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="project-soap" Manufacturer="lightningpwr28" Version="2.0.0"
		UpgradeCode="44a87664-71b8-4847-8799-1e8ac5ab17c1">
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
		
		<Feature Id="Main">
			<ComponentGroupRef Id="ProductComponents" />

		</Feature>

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component>
				<File
					Source="..\..\target\release\project-soap.exe" />
				<!-- Add the installation folder to the system PATH environment variable -->
				<Environment Id="AddToPath" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no"
					Part="last" Action="set" System="yes" />

			</Component>
			<Component>
				<File
					Source="..\..\target\release\libgcc_s_seh-1.dll" />
			</Component>
			<Component>
				<File
					Source="..\..\target\release\libstdc++-6.dll" />

			</Component>
			<Component>
				<File
					Source="..\..\target\release\libvosk.dll" />

			</Component>
			<Component>
				<File
					Source="..\..\target\release\libwinpthread-1.dll" />

			</Component>
			<Component>
				<File Source="..\..\list.txt" />
			</Component>
			
			<Component Id="CreateModelFolder" Directory="ModelFolder" Guid="ae68040e-b80e-4217-b33a-35d3ec3ba257">
				<CreateFolder />
			</Component>


		</ComponentGroup>
	</Package>
</Wix>